.Intro_Container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 105px 200px 400px;
  gap: 0px 0px;
  grid-template-areas:
    "LogoSection LogoSection"
    "LeftHero RightHero"
    "CallToAction CallToAction";
  min-width: 375px;
}

@media (min-width: 768px) {
  .Intro_Container {
    grid-template-rows: 105px 380px 400px;
  }

}

.LogoSection {
  grid-area: LogoSection;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 10vh;
}

.LeftHero {
  grid-area: LeftHero;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.RightHero {
  grid-area: RightHero;
}

.Logo {
  width: 32%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  top: -15px;
  left: -11px;
}

.LeftHeroPic {
  position: relative;
  top: 25px;
  right: 20px;
  width: 12.4em;
}

.RightHeroPic {
  position: relative;
  top: 25px;
  right: 3px;
  width: 12.4em;
}

.CallToAction {
  grid-area: CallToAction;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CallToAction h1 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2.55em;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  word-spacing: 0px;
  letter-spacing: 0px;
  width: 7em;
  position: relative;
  right: 11px;
  top: -1px;
}

.CallToAction>p {
  width: 21em;
  margin-top: 0px;
  position: relative;
  left: -11px;
  top: -3px;

  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #87879D;
}

.CallToAction .ButtonLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: -11px;
}

.CallToAction .ButtonLinks li {
  margin-top: 12px;
}

.CallToAction .ButtonLinks li:last-child {
  margin-top: 16px;
}

@media (min-width:768px) {
  .Logo {
    left: -14px;
    top: -15px;
  }

  .LeftHeroPic {
    top: 35px;
    right: 26px;
    width: 24.8em;
  }

  .RightHeroPic {
    top: 35px;
    right: -3px;
    width: 24.8em;
  }

  .CallToAction h1 {
    width: 6.5em;
    font-size: 2.97em;
    line-height: 48px;
    letter-spacing: 0px;
    word-spacing: 1px;
    right: 14px;
    top: -2px;
  }

  .CallToAction p {
    width: 26em;
    top: -9px;
    left: -13px;
  }

  .CallToAction .ButtonLinks {
    flex-direction: row;
    margin-top: 6px;
    width: 22em;
  }

  .CallToAction .ButtonLinks li {
    margin-top: 0px;
  }

  .CallToAction .ButtonLinks li:last-child {
    margin-top: 0px;
    margin-left: 17px;
  }
}

@media (min-width:1440px) {
  .Intro_Container {
    grid-template-columns: 1fr 640px 1fr;
    grid-template-rows: 105px 460px;
    gap: 0px 0px;
    grid-template-areas:
      "LogoSection LogoSection LogoSection"
      "LeftHero CallToAction RightHero"
  }

  .Logo {
    left: 1px;
    top: 17px;
  }

  .LeftHeroPic {
    right: 35px;
    top: 64.1px;
  }

  .RightHeroPic {
    top: 119px;
    left: 38px;
  }

  .CallToAction h1 {
    width: 7em;
    font-size: 3.98em;
    margin-top: 121px;
    letter-spacing: 0em;
    right: 0px;
    line-height: 64px;
    top: -0.15em;
  }

  .CallToAction p {
    width: 30em;
    top: -19px;
    font-size: 18px;
    left: 0px;
  }

  .CallToAction .ButtonLinks {
    margin-top: -0.3em;
    left: 0.1em;
  }
}