.Benefits_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 248px;
    left: -11px;
}

.Benefits_Container h2 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
    text-align: center;
    margin-top: 65px;
}

.Benefits_Container h3 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #28283D;
    width: 10em;
    margin-top: 10px;
}

.Benefits_Container p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: .97em;
    line-height: 26px;
    text-align: center;
    color: #87879D;
    width: 323px;
    top: -.89em;
    position: relative;
    left: -0.1em;
    letter-spacing: 0.2px;
    word-spacing: 0.1em;
    margin-top: 13px;
}

.Users {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-auto-rows: 1fr 1fr;
    grid-template-columns: 151px 151px;
    grid-template-rows: 143px 143px;
    gap: 1.48em 1.55em;
    grid-template-areas:
        "one two"
        "three four";
    justify-content: center;
    align-items: center;
}

.Users li {
    position: relative;
    width: 151px;
    height: 143px;
}

@media screen and (min-width:768px) {
    .Benefits_Container {
        top: 185px;
        left: -13px;
    }

    .Benefits_Container h2 {
        margin-top: 56px;
    }

    .Benefits_Container h3 {
        font-size: 40.2px;
        line-height: 43px;
        width: 11.4em;
        margin-top: 3px;
    }

    .Benefits_Container p {
        width: 571px;
        margin-top: 7px;
    }

    .Users {
        grid-auto-rows: 1fr;
        grid-template-rows: 143px;
        grid-template-columns: none;
        gap: 0 8px;
        grid-template-areas: " one two three four"
            /* display: flex;
        flex-direction: row;
        width: 785px;
        height: 157px; */
    }

    .Users li {
        width: 167px;
        height: 156px;
        flex-shrink: 0;
    }
}