.Benefits_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 64.5px;
}

.Benefits_Container h2 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
    text-align: center;
    margin-top: 64px;
    position: relative;
    left: -0.3px;
    top: 0.1px;
}

.Benefits_Container h3 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #28283D;
    width: 10em;
    margin-top: 10.1px;
}

.Benefits_Container p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: .98em;
    line-height: 26px;
    text-align: center;
    color: #87879D;
    width: 327px;
    position: relative;
    left: 0.01em;
    letter-spacing: 0.15px;
    word-spacing: -0.01em;
    margin-top: 0.06em;
    top: 0.5px;
}

.Users {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-auto-rows: 1fr 1fr;
    grid-template-columns: 151px 151px;
    grid-template-rows: 143px 143px;
    gap: 1.5em 1.56em;
    grid-template-areas:
        "one two"
        "three four";
    justify-content: center;
    align-items: center;
}

.Users li {
    position: relative;
    width: 151px;
    height: 143px;
}
.UserPhoto div{
    border-radius: 8px;
}

@media screen and (min-width:768px) {
    .Benefits_Container {
        top: -23px;
    }

    .Benefits_Container>h2 {
        margin-top: 56px;
        top: -0.8px;
        left: -0.6px;
    }

    .Benefits_Container>h3 {
        font-size: 40.2px;
        line-height: 43.3px;
        width: 11.4em;
        margin-top: 3px;
        position: relative;
        top: -0.9px;
        left: 1px;
    }

    .Benefits_Container>p {
        width: 571px;
        margin-top: 7px;
        top: -15px;
        left: -0.4px;
    }
}

.Users {
    grid-auto-rows: 1fr;
    grid-template-rows: 143px;
    grid-template-columns: none;
    gap: 0 8px;
    grid-template-areas: " one two three four"
        /* display: flex;
        flex-direction: row;
        width: 785px;
        height: 157px; */
}

.Users li {
    width: 167px;
    height: 156px;
    flex-shrink: 0;
}


@media screen and (min-width:1440px) {
    .Benefits_Container {
        top: 8.9em;
        left: -0.2px;
    }

    .Users {
        gap: 0 29.5px;
    }

    .Users li {
        width: 256px;
        height: 242px;
    }

    .Benefits_Container>h2 {
        margin-top: 130px;
        top: 0px;
        left: 0.6px;
    }

    .Benefits_Container>h3 {
        top: 0;
        left: 0.9px;
    }

    .Benefits_Container>p {
        width: 515px;
        font-size: 1.1em;
        left: -1.7px;
        top: -14.37px;
        left: -0.9px;
        word-spacing: -0.1px;
    }
}