.Footer_Container {
    font-family: 'Red Hat Display';
    font-style: normal;
    background-color: #4D96A9;
    position: relative;
    top: 42px;
    color: #FAFAFA;
    text-align: center;
    height: 55.7vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Footer_Container::before {
    content: "";
    background-image: url("/images/image-footer.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.12;
}

.Footer_Container>h2 {
    position: relative;
    line-height: 36px;
    font-size: 2em;
    font-weight: 900;
    width: 296px;
    margin-top: 25px;
}

.Footer_Container>p {
    font-size: 1.1em;
    width: 312px;
    position: relative;
    top: -1.13em;
    letter-spacing: 0.01em;
    word-spacing: 0.02em;
    line-height: 1.479em;
    font-weight: 500;
}

.Footer_Button {
    position: relative;
    top: -5px;
    left: -1.2px;
}

@media screen and (min-width:768px) {
    .Footer_Container {
        top: 347px;
        background-image: url("/images/image-footer-tablet.jpg");
    }

    .Footer_Container>h2 {
        line-height: 44px;
        font-size: 2.5em;
        width: 345px;
        margin-top: 19.4px;
        left: -0.3px;
        top: 0.1px;
    }

    .Footer_Container>p {
        width: 564px;
        top: -18.5px;
        font-size: 1.14em;
        left: -0.3px;
        letter-spacing: -0.002em;
        word-spacing: -0.02em;
        line-height: 1.4em;
    }

    .Footer_Button {
        top: 4.6px;
    }
}

@media screen and (min-width:1440px) {
    .Footer_Container {
        flex-direction: row;
        height: 40.1vh;
        top: 478.5px;
        background-image: url("/images/image-footer-desktop.jpg");
    }

    .Footer_Container>h2 {
        width: 372px;
        margin-top: 45px;
        left: -100px;
        text-align: left;
    }

    .Footer_Container>p {
        width: 347px;
        top: 0.2px;
        left: 3.1px;
        text-align: left;
    }

    .Footer_Button {
        top: 6px;
        left: 99px;
    }
}